ul{
  list-style-type: none;
  padding: 0px;
}
.blog_header{
  
  padding-bottom: 5px;
  margin-bottom: 10px;
  margin-left: 0.9375rem;
  margin-right: 0.9375rem;
  border-bottom: 2px solid $blue;
}
.blog_header__text{
  font-family: "BinnerD";
  font-size: 2em;
  width: 75%;
  color: black;
  text-align: center;
  margin: 0 auto;
}
.blog_header__logo{
  width: 15%;
  margin: 5px;
}
.featured_post__title{
  font-family: "BinnerD";
  text-align: center;
}
.featured_post__text{
  font-family: $body_font;
  padding-bottom: 10px;
  border-bottom: 2px solid $blue;
  margin-bottom: 10px;
}
.all_posts{
  font-family: $body_font;
  text-align: center;
  color: $blue;
}
.all_posts__list{
  margin-top: 0px;
}
.all_posts__list__title:hover{
  color: black;
  text-decoration: underline;
}
.featured_post__img{
  width: 100%;
  //Image height is arbitrary. Trying to predict conflicts with page layout if uploaded image is giant.
  object-fit: cover;
  max-height: 250px;
}

@media screen and (min-width: 40em){
  .featured_post__text{
    border: none;
  }
}




