.brand_name {
 
  color: $porcelain;
  position: absolute;
  top: 37%;
  left: -1%;
  z-index: 2;
}

@media only screen and (min-width: 40.063em) { 
  .brand_name {
    top: 22%;
  }
}

@media only screen and (min-width: 64.063em) {  
  .brand_name {
    top: 14%;
  }

}