
.brand_name_container {
  max-width: 100%;
}

.brand_name {
  position: absolute;
  display: block;
  max-width: 95%;
  left: 10px;
  top: 162px;
  z-index: 2;
}


@media only screen and (min-width: 40.063em) { 
  .brand_name {
    top: 60%;
  }
}

@media only screen and (min-width: 64.063em) {  
  .brand_name {
    top: 14%;
  }

}