.community_board {
  background-color: $porcelain;
  padding-left: 10px;
}

.community_board__title {
  float: left;
}

.community_board__archive {
  float: right;
  padding-right: 10px;
}

.article__image {
  float: right;
  padding: 10px;
  max-height: 75%;
}

.article__title {
  padding: 0 5px;
  font-size: 20px;
}

.byline__img {
  display: block;
  float: left;
  padding: 0 9px;
}

.byline__writer {
  padding: 0 5px;
  font-size: 13px;
}

.article__body {
  padding: 5px;
  font-size: 14px;
}

@media only screen and (min-width: 40.063em) { 
  

  
  
} 

