
// body{
//     margin:0;
// }

.hero {
    position: relative;
    overflow: hidden;
    width:100vw;
    height:70vh;
    max-height:100vh;
    text-align:center;
}

.vid {
    position:absolute;
    height:75%;
    width:200%;
    left:-50%; 
}

video {
    position:absolute;
    top: -99999px;
    bottom: -99999px;
    left: -99999px;
    right: -99999px;
    margin: auto;
    min-height:100%;
    min-width:50%;
}

.logo {
    position: absolute;
    z-index: 2;
    max-width: 25%;
    left: 2%;
    top: 2%;
}

.brand_name {
    position: absolute;
    top: 51%;
    left: 7%;
    z-index: 2;
}