

.brewing {
  background-color: $porcelain;
  // border-right: 1px solid #2B2B2B;
}
.whats_brewing {
  margin-bottom: 10px;
  border-bottom: solid 1px;
  border-color: #2B2B2B;
}

.coffee {
  margin-bottom: 10px;
  border-bottom: solid 1px;
  border-color: #2B2B2B;

}

.coffee__image {
  float: left;
  margin-right: 5px;
  background-color: blue;
  width: 25%;
  height: 75px;
}

.coffee__name {
  font-family: "Cassannet Regular";
  float: left;
  margin-right: 10px;
}

.coffee__discript {
  font-size: 12px;
  line-height: 2;
}

@media only screen and (min-width: 40.063em) { 
  .whats_brewing {
    padding-top: 40px;
  }
} 