

.brewing {
  background-color: yellow;
  margin: 5px;
}

.coffee {
  margin-bottom: 10px;

}

.coffee__image {
  float: left;
  margin-right: 5px;
  background-color: blue;
  width: 25%;
  height: 75px;
}

.coffee__name {
  font-family: "Cassannet Regular";
  float: left;
  margin-right: 10px;
}

.coffee__discript {
  font-size: 12px;
  line-height: 2;
}